<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
  
        <h2 class="title is-2">Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
  
            <div class="field">
              <div class="control">
                <%= f.input :email, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
              </div>
            </div>
  
            <div class="field">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            </div>
            <% if current_user.uid == NIL %>
              <div class="field">
                <div class="control">
                <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it.", required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, value: "" %>
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                <%= f.input :password_confirmation, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
                </div>
              </div>
            <% end %>
            
            <% if current_user.apartment_building_id == NIL %>
            <hr style="width:50%;">
            <div class="field">
              <div class="control">
                <div class="select">
                  <%= f.select :apartment_building_id, ApartmentBuilding.all.map { |b| [b.name, b.id] }, include_blank: true  %>
                </div>
              </div>
            </div>
            <% end %>
            
            <br/>
            <%= f.button :submit, "Update", class:"button is-info is-float-right" %>
  
          <% end %>
          <br/>
          <hr />
          <center>
            <h3 class="title is-5">Cancel my account</h3>
            <p>Want to cancel your account? <%= link_to "Yes, I would!", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
          </center>
        </div>
      </div>
    </div>
  </section>
<% end %>
<script>
  window.onclick = function myClickHandler(event){
    this.onclick=null;
    document.getElementById("user_password").value = "";
  }
</script>
