<div class="column is-8">
  
  <% if current_user.apartment_building_id != NIL %>
  <% apar = ApartmentBuilding.find_by(id: current_user.apartment_building_id) %>
    <h3 class="title is-4 has-text-grey-light">Latest Discussions of <%= apar.name %></h3>
  <% else %>
    <h3 class="title is-4 has-text-grey-light">Not a member of a building - <%= link_to "Settings", edit_user_registration_path %></h3>
  <% end %>
  <div class="discussions">
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1">
          <%= image_tag discussion.image.url, class:'border-radius-50', size: 48 %>
        </div>
        <div class="column is-8">
          <%= link_to discussion do %>
            <h3 class="title is-5"><%= discussion.title %></h3>
          <% end %>
          
          
          <% if current_user.admin == true %>
            <% if discussion_author(discussion)%>
              <h6>
                <small class="is-moved-alittle-to-left">
                  <%= pluralize discussion.reputation_for(:votes).to_i, "vote" %>
                </small>
              </h6>
            <% elsif !discussion_author(discussion)%>
              <h6>
                <small class="is-moved-alittle-to-left">
                  <%= pluralize discussion.reputation_for(:votes).to_i, "vote" %> | 
                  <%= link_to vote_discussion_path(discussion, type: "up"), method: "post" do %> 
                    <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
                  <% end %> |
                  <%= link_to vote_discussion_path(discussion, type: "down"), method: "post" do %>
                    <span class="icon is-small flip_image"><i class="fa fa-thumbs-down"></i></span>
                  <% end %>
                </small>
              </h6>
            <% end %>
          <% elsif !current_user.admin == true %>
            <% if discussion_author(discussion)%>
              <h6>
                <small class="is-moved-alittle-to-left">
                  <%= pluralize discussion.reputation_for(:votes).to_i, "vote" %>
                </small>
              </h6>
            <% elsif !discussion_author(discussion)%>
              <h6>
                <small class="is-moved-alittle-to-left">
                  <%= pluralize discussion.reputation_for(:votes).to_i, "vote" %> | 
                  <%= link_to vote_discussion_path(discussion, type: "up"), method: "post" do %> 
                    <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
                  <% end %> |
                  <%= link_to vote_discussion_path(discussion, type: "down"), method: "post" do %>
                    <span class="icon is-small flip_image"><i class="fa fa-thumbs-down"></i></span>
                  <% end %>
                </small>
              </h6>
            <% end %>
          <% end %>
          

          <div class="content">
            <%= truncate(strip_markdown(discussion.content), length: 140) %>
            <p>
              <em>
                <small>
                  
                  Posted <%= time_ago_in_words(discussion.created_at) %> ago in 
                  <% if discussion.channel %> 
                    <%= link_to discussion.channel.channel, discussion.channel %>
                  <% end %>
                  
                  <% user_this = User.find_by(id: discussion.user.id) %>
                  <% if discussion.user.lastname != NIL %>
                    <% name = discussion.user.name + " " + discussion.user.lastname %>
                  <% else %>
                    <% name = discussion.user.name %>
                  <% end %>
                  by <%= link_to name, user_path(discussion.user) %> - 
                  
                  <% if discussion.replies.count == 1 %>
                    <%= discussion.replies.count %> Reply 
                  <% else %>
                    <%= discussion.replies.count %> Replies
                  <% end %>
                  
                </small>
              </em>
            </p>
          </div>
        </div>
        <% if discussion_author(discussion) || current_user.admin == true %>
        <div class="column has-text-right">
          <%= link_to 'Edit', edit_discussion_path(discussion), class:'button is-primary is-outlined' %>
          <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-outlined" %> <br/>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
